body{
	background-image: url("https://i.postimg.cc/MKYPqBQb/background.png");
}

/*this part is for the title*/

h1{font-size:100px;
	background-color: pink;
	border-radius: 40px;
	border-width: 80px;
	border-style: groove;
	border-color: royalblue;
	font-family: monospace;
	font-style:bolder;
color:royalblue;
text-align: center;
padding:0;
}

.catalog{position:sticky;
	top:0px;
}

ul{list-style: none;
	margin:10px;
	padding:0px;
overflow:hidden;
}

ul li a{
	float:left;
	border:5px solid yellowgreen;
	margin:0px;display:block;
	width:140px;
	padding:30px;
	background-color: #FFB748 ;
	margin:0;
	text-decoration: none;
	font-size: 40px;
	text-align:center;
	color:#FF0184 ;
	/* need to fix this sticky feature. Might require javascript*/
}

ul li a:hover{background-color: #01FFD1;

}
/*you can type the exact same thing in the stylsection on html and csssheet*/
p{border-style: groove;
	border-color: lightblue;
	border-width: 5px;
	font-size:20px;
font-family: monospace;
border-style: inset;
border-color:skyblue;
padding:5px;}

#zoro {background-color:beige;}
#biko {background-color:rosybrown;}
#aoife{background-color:#FFBDD6;}
#bo{background-color:#FDFF8B;}
#oops {background-color:#1FFA8D;}
#sally{background-color:#ee5e17;}
#buster{background-color:#184FC7;}
#mimi{background-color:#00A36C;}
#frankie{background-color:#ffff4d;}

/* id selector uses #+name; class selector uses p or p.name more universal */
img{width:200px;
	height:200px;
	display:block;
	margin-left: auto;
	margin-right: auto;
	border-width: 5px;
	border-style: inset;
	border-color: skyblue;}


#footer{background-color:orange;
	margin:0px;
	height:50px;}


/*to center a text use text-align:center*/
/*to center an image use the display:block, then margin-left:auto margin-right:auto*/
